In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqlconnector://root:root@localhost/mydb

In [23]:
%%sql
DROP TABLE IF EXISTS orders;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [24]:
%%sql
CREATE TABLE orders (
    order_id   INT AUTO_INCREMENT ,
    order_date DATE NOT NULL, 
    customer_name VARCHAR(50),
    amount     DECIMAL(10,2),
PRIMARY KEY(order_id, order_date)
)
PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020       VALUES LESS THAN (2021),
    PARTITION p_2021       VALUES LESS THAN (2022),
    PARTITION p_2022       VALUES LESS THAN (2023),
    PARTITION p_future     VALUES LESS THAN MAXVALUE
);

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [25]:
%%sql
INSERT INTO orders (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * mysql+mysqlconnector://root:***@localhost/mydb
6 rows affected.

[]

In [32]:
%%sql
SELECT # PARTITION BY RANGE 
    PARTITION_NAME,
    PARTITION_METHOD,
    PARTITION_EXPRESSION,
    SUBPARTITION_METHOD,
    SUBPARTITION_EXPRESSION
FROM information_schema.PARTITIONS
WHERE TABLE_SCHEMA = 'mydb'
  AND TABLE_NAME   = 'orders';

 * mysql+mysqlconnector://root:***@localhost/mydb
5 rows affected.

[('p_future', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2022', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2021', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2020', 'RANGE', 'year(`order_date`)', None, None),
 ('p_before_2020', 'RANGE', 'year(`order_date`)', None, None)]

In [33]:
%%sql
show create table orders;

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[('orders', 'CREATE TABLE `orders` (\n  `order_id` int NOT NULL AUTO_INCREMENT,\n  `order_date` date NOT NULL,\n  `customer_name` varchar(50) DEFAULT NULL,\n  `am ... (374 characters truncated) ... 2022) ENGINE = InnoDB,\n PARTITION p_2022 VALUES LESS THAN (2023) ENGINE = InnoDB,\n PARTITION p_future VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */')]

In [34]:
%%sql
select * from orders where order_date='2021-07-20' ;

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[(4, datetime.date(2021, 7, 20), 'Diana', Decimal('150.75'))]

In [35]:
%%sql
explain FORMAT=JSON
select * from orders where order_date='2021-07-20' # It just went to 2021 partion and left others

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "orders",\n   ... (410 characters truncated) ...        "customer_name",\n        "amount"\n      ],\n      "attached_condition": "(`mydb`.`orders`.`order_date` = DATE\'2021-07-20\')"\n    }\n  }\n}',)]

In [36]:
%%sql
# Partition by list 
DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT,
    first_name  VARCHAR(50),
    last_name   VARCHAR(50),
    department  VARCHAR(50),
    primary key (employee_id,department)
)
PARTITION BY LIST COLUMNS (department) (
    PARTITION p_sales       VALUES IN ('Sales'),
    PARTITION p_hr          VALUES IN ('HR'),
    PARTITION p_engineering VALUES IN ('Engineering', 'DevOps'),
    PARTITION p_other       VALUES IN ('Finance', 'Marketing', 'Operations')
);

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
0 rows affected.

[]

In [39]:
%%sql
INSERT INTO employees (first_name, last_name, department)
VALUES
('Alice', 'Smith', 'Sales'),
('Bob', 'Johnson', 'HR'),
('Charlie', 'Lee', 'Engineering'),
('Diana', 'Lopez', 'DevOps'),
('Eve', 'Turner', 'Marketing');

 * mysql+mysqlconnector://root:***@localhost/mydb
5 rows affected.

[]

In [41]:
%%sql
select * from employees where department='Sales'

 * mysql+mysqlconnector://root:***@localhost/mydb
2 rows affected.

[(1, 'Alice', 'Smith', 'Sales'), (6, 'Alice', 'Smith', 'Sales')]

In [44]:
%%sql
explain FORMAT=JSON
select * from employees where department='sales' # IT only went to the Partion of sales only

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.45"\n    },\n    "table": {\n      "table_name": "employees",\ ... (410 characters truncated) ... e",\n        "last_name",\n        "department"\n      ],\n      "attached_condition": "(`mydb`.`employees`.`department` = \'sales\')"\n    }\n  }\n}',)]

In [52]:
%%sql
#HASH
DROP TABLE IF EXISTS sensor_data;

CREATE TABLE sensor_data (
    sensor_id     INT NOT NULL,
    reading_time  DATETIME NOT NULL,
    reading_value DECIMAL(10,2),
    PRIMARY KEY (sensor_id, reading_time)
)
PARTITION BY HASH(sensor_id)
PARTITIONS 5;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
0 rows affected.

[]

In [53]:
%%sql
INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES
(101, '2025-01-01 10:00:00', 23.50),
(102, '2025-01-01 10:05:00', 24.10),
(103, '2025-01-01 10:10:00', 22.75),
(104, '2025-01-01 10:15:00', 25.00),
(105, '2025-01-01 10:20:00', 20.00),
(106, '2025-01-01 10:25:00', 21.60);

 * mysql+mysqlconnector://root:***@localhost/mydb
6 rows affected.

[]

In [55]:
%%sql
explain format=json
select * from sensor_data where sensor_id=102

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "sensor_data" ... (517 characters truncated) ... ad_per_join": "16"\n      },\n      "used_columns": [\n        "sensor_id",\n        "reading_time",\n        "reading_value"\n      ]\n    }\n  }\n}',)]

In [56]:
%%sql
/* 
HASH PARTITIONING EXPLANATION (PARTITIONS 5)

MySQL places each row into a partition based on:

        target_partition = (sensor_id % 5)

Because we are using:
        PARTITION BY HASH(sensor_id) PARTITIONS 5;

So each inserted row goes to:
- Partition 0 → when sensor_id % 5 = 0
- Partition 1 → when sensor_id % 5 = 1
- Partition 2 → when sensor_id % 5 = 2
- Partition 3 → when sensor_id % 5 = 3
- Partition 4 → when sensor_id % 5 = 4

Example from our inserted data:
101 → 101 % 5 = 1 → Partition 1
102 → 102 % 5 = 2 → Partition 2
103 → 103 % 5 = 3 → Partition 3
104 → 104 % 5 = 4 → Partition 4
105 → 105 % 5 = 0 → Partition 0
106 → 106 % 5 = 1 → Partition 1

This ensures even distribution of rows across all 5 partitions.
*/

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]