In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqlconnector://root:root@localhost/mydb

In [4]:
%%sql
DROP TABLE IF EXISTS employee;

CREATE TABLE employee (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    city VARCHAR(100) NOT NULL
);

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
INSERT INTO employee (first_name, last_name, email, city)
VALUES
('John', 'Doe', 'john@example.com', 'New York'),
('Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
('Michael', 'Brown', 'michael.brown@example.com', 'Chicago'),
('Emily', 'Johnson', 'emily.johnson@example.com', 'Houston'),
('Robert', 'Green', 'robert.green@example.com', 'Phoenix');

 * mysql+mysqlconnector://root:***@localhost/mydb
5 rows affected.

[]

In [38]:
%%sql
CREATE INDEX idx_city ON customers(city);
-- Creating an index on the 'city' column to speed up search/filtering on city

 * mysql+mysqlconnector://root:***@localhost/mydb
(mysql.connector.errors.ProgrammingError) 1061 (42000): Duplicate key name 'idx_city'
[SQL: CREATE INDEX idx_city ON customers(city);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [28]:
%%sql
-- This query will benefit from the index when searching by city
SELECT first_name, last_name, email
FROM employee
WHERE city = 'Chicago';

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[('Michael', 'Brown', 'michael.brown@example.com')]

In [12]:
%%sql
#An INDEX is used to speed up searching and filtering.
#Here we indexed the city column because it is commonly used in WHERE conditions.
#MySQL builds an ordered lookup, so queries like WHERE city = Chicago become faster.

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [13]:
%%sql
-- Show indexes created on this table
SHOW INDEX FROM employee;

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[('employee', 0, 'PRIMARY', 1, 'customer_id', 'A', 5, None, None, '', 'BTREE', '', '', 'YES', None)]

In [30]:
%%sql
-- EXPLAIN shows how MySQL plans to execute your query.
-- It does NOT run the query — it only shows the execution plan.
-- You can see:
--  ✔ whether an index is used
--  ✔ how many rows MySQL expects to scan
--  ✔ which scan method is used (full scan or index lookup)
--  ✔ join type, filtering logic, cost approximation
--
-- This helps you understand performance before actually executing the query.

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [22]:
%%sql
Explain
select * from employee
where city = 'chicago';

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[(1, 'SIMPLE', 'employee', None, 'ALL', None, None, None, None, 5, 20.0, 'Using where')]

In [32]:
%%sql
-- EXPLAIN ANALYZE actually executes the query
-- and shows the REAL execution steps + timings.
--
-- EXPLAIN = prediction (planner estimate)
-- EXPLAIN ANALYZE = reality (runtime performance)
--
-- It helps you understand:
--  ✔ exact time spent in each step
--  ✔ how many rows were scanned vs expected
--  ✔ whether the optimizer chose the best plan
--  ✔ if your index actually improved performance
--
-- Used in performance tuning and debugging slow queries.

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [39]:
%%sql
Explain analyze
select * 
from employee
where city = 'chicago';

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[("-> Filter: (employee.city = 'chicago')  (cost=0.75 rows=1) (actual time=0.0587..0.0631 rows=1 loops=1)\n    -> Table scan on employee  (cost=0.75 rows=5) (actual time=0.0542..0.0592 rows=5 loops=1)\n",)]

In [33]:
%%sql
DROP TABLE IF EXISTS employee1;

CREATE TABLE employee1 (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    city VARCHAR(100) NOT NULL
);

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
0 rows affected.

[]

In [34]:
%%sql
INSERT INTO employee1 (first_name, last_name, email, city)
VALUES
('John', 'Doe', 'john@example.com', 'New York'),
('Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
('Michael', 'Brown', 'michael.brown@example.com', 'Chicago'),
('Emily', 'Johnson', 'emily.johnson@example.com', 'Houston'),
('Robert', 'Green', 'robert.green@example.com', 'Phoenix');

 * mysql+mysqlconnector://root:***@localhost/mydb
5 rows affected.

[]

In [40]:
%%sql
Explain analyze
select * 
from employee1
where city = 'chicago';

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[("-> Filter: (employee1.city = 'chicago')  (cost=0.75 rows=1) (actual time=0.0277..0.0317 rows=1 loops=1)\n    -> Table scan on employee1  (cost=0.75 rows=5) (actual time=0.0238..0.0289 rows=5 loops=1)\n",)]