In [3]:
%load_ext sql

In [10]:
%sql mysql+mysqlconnector://root:root@localhost/mydb

In [ ]:
/*
A — Atomicity

Atomicity means a transaction is treated as a single unit.
Either all operations are executed successfully, or none of them are applied.
If any part of the transaction fails, the entire transaction is rolled back to maintain correctness.

C — Consistency

Consistency ensures that a transaction takes the database from one valid state to another valid state.
All database rules such as constraints, keys, and integrity rules must be satisfied before and after the transaction.

I — Isolation

Isolation ensures that multiple transactions executing at the same time do not interfere with each other.
Each transaction behaves as if it is executed independently, even when running concurrently.

D — Durability

Durability guarantees that once a transaction is committed, its changes are permanently saved in the database.
The data remains safe even in case of system crash, power failure, or restart.

One-line memory tip

ACID = All or Nothing, Correct State, Independent Execution, Permanent Save
*/

In [11]:
%%sql
Drop table if exists accounts;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [12]:
%%sql

CREATE TABLE accounts (
    account_id INT PRIMARY KEY,
    account_name VARCHAR(50),
    balance INT CHECK (balance >= 0)
);

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [13]:
%%sql
INSERT INTO accounts VALUES
(1, 'Arjun', 5000),
(2, 'Meera', 3000);

 * mysql+mysqlconnector://root:***@localhost/mydb
2 rows affected.

[]

In [14]:
%%sql
SELECT * FROM accounts;

 * mysql+mysqlconnector://root:***@localhost/mydb
2 rows affected.

[(1, 'Arjun', 5000), (2, 'Meera', 3000)]

In [19]:
%%sql
START TRANSACTION;

UPDATE accounts
SET balance = balance - 1000
WHERE account_id = 1;

-- Mistake: wrong account id
UPDATE accounts
SET balance = balance + 1000
WHERE account_id = 99;
#Money is NOT lost → atomicity ensured
ROLLBACK;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.

[]

In [20]:
%%sql
START TRANSACTION;

UPDATE accounts
SET balance = balance - 1000
WHERE account_id = 1;

UPDATE accounts
SET balance = balance + 1000
WHERE account_id = 2;

COMMIT;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [21]:
%%sql
#Consistency
START TRANSACTION;

UPDATE accounts
SET balance = -500
WHERE account_id = 1;
#Database remains consistent (no negative balance)
ROLLBACK;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
(mysql.connector.errors.DatabaseError) 3819 (HY000): Check constraint 'accounts_chk_1' is violated.
[SQL: UPDATE accounts
SET balance = -500
WHERE account_id = 1;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [22]:
%%sql
# ISOLATION
SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [23]:
%%sql
#DURABILITY
START TRANSACTION;

UPDATE accounts
SET balance = balance + 500
WHERE account_id = 2;

COMMIT;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
1 rows affected.
0 rows affected.

[]

In [24]:
%%sql
SELECT * FROM accounts;

 * mysql+mysqlconnector://root:***@localhost/mydb
2 rows affected.

[(1, 'Arjun', 2000), (2, 'Meera', 4500)]