In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqlconnector://root:root@localhost/mydb

In [26]:
%%sql
Drop table if exists accounts;
CREATE TABLE Accounts (
  AccountID INT PRIMARY KEY,
  AccountHolder VARCHAR(100),
  Balance DECIMAL(10,2)
);

-- Insert a new record into Accounts
INSERT INTO Accounts (AccountID, AccountHolder, Balance)
VALUES (1, 'Alice', 5000.00);

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.
0 rows affected.
1 rows affected.

[]

In [27]:
%%sql
select * from accounts

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[(1, 'Alice', Decimal('5000.00'))]

In [28]:
%%sql
START TRANSACTION;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [29]:
%%sql
-- Perform one or more SQL statements
UPDATE Accounts SET Balance = Balance - 1000 WHERE AccountID = 1;

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[]

In [30]:
%%sql
select * from accounts

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [31]:
%%sql
rollback;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]

In [32]:
%%sql
# The Balance will be 5000 only beacuse we did roll back
# Here in the notebooks it is not working but in command line works
select * from accounts

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[(1, 'Alice', Decimal('4000.00'))]

In [33]:
%%sql
# After roll back we can update the things 
# After updating we can commit it and we cannot able to roll back after we commit
UPDATE Accounts SET Balance = Balance - 3000 WHERE AccountID = 1;

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[]

In [34]:
%%sql
Select * from accounts

 * mysql+mysqlconnector://root:***@localhost/mydb
1 rows affected.

[(1, 'Alice', Decimal('1000.00'))]

In [35]:
%%sql
commit;

 * mysql+mysqlconnector://root:***@localhost/mydb
0 rows affected.

[]